@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("../../../public/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
  font-weight: semibold;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../../../public/fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: local("montserrat"),
    url("../../../public/fonts/Montserrat/static/Montserrat-Medium.ttf");
}
