<header>
  <div class="container-fluid">
    <div class="d-xl-block d-none">
      <nav class="navbar navbar-expand-xl p-0">
        <a class="navbar-brand dark-logo d-xl-none" href="/"
          ><img alt="" src="assets/images/logo.webp"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#mynavbar"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
          <div class="col-xl-2 text-left xl-logo">
            <a class="navbar-brand m-0 p-0" href="/"
              ><img alt="" src="assets/images/logo.webp"
            /></a>
          </div>
          <div class="col-xl-4 text-end">
            <app-search-bar></app-search-bar>
          </div>
          <div class="col-xl-6 d-flex">
            <ul class="navbar-nav mainmenu justify-content-start m-0">
              <li class="menu-item-has-children">
                <a href="/eventos-ferias">Eventos y Ferias</a>
              </li>
              <li class="menu-item-has-children">
                <a href="/capacitaciones">Capacitaciones</a>
              </li>
              <li class="menu-item-has-children">
                <a href="/servicios">Servicios</a>
              </li>
            </ul>
            <div class="justify-content-end d-flex align-items-center">
              <app-theme-toggle></app-theme-toggle>
              <app-cta-btn
                [label]="'TODOS LOS EVENTOS'"
                [size]="'sm'"
                [href]="'/todos-los-eventos'"
              ></app-cta-btn>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
<!-- <header class="st-2">
    <div class="container-fluid">
        <div class="mobile-menu">
            <div>
                <a class="navbar-brand" href="/"><img alt="" src="assets/images/logo.png"></a>
            </div>
            <div class="hamburger-menu">
                <div class="bar"></div>
            </div>
        </div>
        <nav class="mobile-navar d-xl-none">
            <ul>
                <li><a href="/eventos-ferias">Ferias y Eventos</a></li>
                <li><a href="/capacitaciones">Capacitaciones</a></li>
                <li><a href="/servicios">Servicios</a> </li>
                <li><a class="btn bg-orange" href="/todos-los-eventos">TODOS LOS EVENTOS</a></li>
            </ul>
        </nav>
    </div>
</header> -->
