<main style="max-width: 100vw !important; overflow-x: hidden">
  <!-- Hero Area start -->
  <app-hero></app-hero>

  <section class="eventos_slider pt-3 pt-xl-3 mt-xl-3">
    <div class="container-fluid">
      <div class="eventos_slider__title mb-3 mb-xl-4 pb-xl-3">
        <h3 class="title-section">Eventos y Ferias</h3>
        <div class="eventos_slider__right">
          <a href="/eventos-ferias">VER TODOS</a>
        </div>
      </div>
      <ngx-slick-carousel class="carousel" [config]="eventosConfig">
        <div ngxSlickItem *ngFor="let event of events" class="slide">
          <app-event-card [event]="event"></app-event-card>
        </div>
      </ngx-slick-carousel>
    </div>
  </section>

  <section class="eventos_slider pt-3 pt-xl-5 mt-xl-3">
    <div class="container-fluid">
      <div class="eventos_slider__title mb-3 mb-xl-4 pb-xl-3">
        <h3 class="title-section">Capacitación</h3>
        <div class="eventos_slider__right">
          <a href="/capacitaciones">VER TODOS</a>
        </div>
      </div>
      <ngx-slick-carousel class="carousel" [config]="eventosConfig">
        <div ngxSlickItem *ngFor="let event of events" class="slide">
          <app-event-card [event]="event"></app-event-card>
        </div>
      </ngx-slick-carousel>
    </div>
  </section>

  <section class="eventos_slider pt-3 pt-xl-5 mt-xl-3">
    <div class="container-fluid">
      <div class="eventos_slider__title mb-3 mb-xl-4 pb-xl-3">
        <h3 class="title-section">Servicios</h3>
        <div class="eventos_slider__right">
          <a href="/servicios">VER TODOS</a>
        </div>
      </div>
      <ngx-slick-carousel class="carousel" [config]="eventosConfig">
        <div ngxSlickItem *ngFor="let event of events" class="slide">
          <app-event-card [event]="event"></app-event-card>
        </div>
      </ngx-slick-carousel>
    </div>
  </section>

  <section class="eventos_slider pt-3 pt-xl-5 mt-xl-3">
    <div class="container-fluid">
      <div class="eventos_slider__title mb-3 mb-xl-4 pb-xl-3">
        <h3 class="title-section">
          Exclusivo para <strong>Asociados</strong>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            id="Capa_2"
            data-name="Capa 2"
            viewBox="0 0 15.55 15"
            width="28"
          >
            <g id="Capa_7" data-name="Capa 7">
              <path
                d="M15.16,6.87l-3.13,2.7.95,4.03c.15.61-.23,1.23-.84,1.37-.29.07-.6.02-.86-.14l-3.51-2.16-3.51,2.16c-.54.33-1.24.16-1.56-.38-.16-.26-.2-.56-.13-.86l.96-4.03L.4,6.87c-.48-.41-.53-1.13-.12-1.61.19-.22.47-.37.76-.39l4.1-.33,1.58-3.83c.24-.58.9-.86,1.48-.62.28.12.5.34.62.62l1.58,3.83,4.1.33c.63.05,1.1.61,1.04,1.24-.03.3-.17.57-.39.77h0Z"
              ></path>
            </g>
          </svg>
        </h3>
        <div class="eventos_slider__right">
          <a href="/asociados">VER TODOS</a>
        </div>
      </div>
      <ngx-slick-carousel class="carousel" [config]="eventosConfig">
        <div ngxSlickItem *ngFor="let event of events" class="slide">
          <app-event-card [event]="event"></app-event-card>
        </div>
      </ngx-slick-carousel>
    </div>
  </section>

  <app-user-subscription></app-user-subscription>

  <app-user-associate></app-user-associate>
</main>
