<section class="inscribete">
  <div class="inscribete-header bg-blue">
    <img src="assets/images/ico-inscribete.jpg" alt="inscribete" />
    <p>
      Si eres
      <span class="color-yellow weight-700">asociado CCL,</span> disfruta de
      eventos y capacitaciones <span class="weight-700">exclusivas</span> con un
      súper <span class="weight-700">descuento.</span>
    </p>
  </div>
  <div class="container-fluid inscribirse-content" id="">
    <h1 class="color-white mb-4">SI QUIERES SER ASOCIADO DE LA CCL</h1>
    <app-cta-btn
      [label]="'INSCRÍBETE AQUÍ'"
      [size]="'lg'"
      [href]="'https://afiliaciones.camaralima.org.pe/afiliacion/'"
    ></app-cta-btn>
  </div>
</section>
