/* You can add global styles to this file, and also import other style files */

@import "app/styles/settings";
@import "app/styles/buttons";
@import "app/styles/event-card";
@import "app/styles/carousel-section";
@import "app/styles/footer";
@import "app/styles/newsletter";
@import "app/styles/eventos-slider";
@import "app/styles/fonts";

* {
  font-family: Montserrat;
}

img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 0.07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}

.eventos_slider {
  background-color: #f9f9f9;
}
.eventos_slider:hover {
  position: relative;
  z-index: 999;
}
.eventos_slider .slick-list {
  overflow: visible !important;
  z-index: 20;
}
.eventos_slider .slick-list article {
  margin: 0 12px;
}
.title-section {
  font-family: "Poppins", sans-serif;
  color: #002a49;
  font-weight: 700;
}
.title-section strong {
  color: #0074c5;
}
.title-section svg {
  margin-top: -10px;
}
.title-section svg path {
  fill: #ffc325;
}

@media (max-width: 991px) {
  .newsletter {
    margin: 11px 0 127px;
  }
  .footer {
    padding-top: 33px;
  }
}

.input-group-text {
  padding: 0.165rem 0.75rem !important;
}
@media (max-width: 1199px) {
  .footer__grid {
    grid-template-columns: 1fr 2.5fr;
  }
  .footer__section--top {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__section--bottom {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767.98px) {
  .footer__grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 575.98px) {
  .footer__section--top {
    grid-template-columns: 1fr;
  }
}

/* Basic Styles */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul {
  margin-bottom: 0;
}
ul.list-style,
ol.list-style {
  padding: 0;
}

.unstyled {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.container,
.container-fluid {
  @media (min-width: 1440px) {
    padding: 0 60px;
    width: 100%;
  }
}

.page-content {
  margin: 20px 0;
}
.slider-arrow {
  display: flex;
  gap: clamp(12px, 0.83vw, 24px);
  align-items: center;
  .arrow {
    border: none;
    display: grid;
    align-content: center;
    justify-content: center;
    width: clamp(36px, 2.5vw, 64px);
    height: clamp(36px, 2.5vw, 64px);
    border-radius: clamp(12px, 0.75vw, 20px);
    background-color: #fff;
    flex-shrink: 0;
    svg {
      width: clamp(13px, 0.83vw, 20px);
      line {
        stroke: #7a7f85;
      }
    }
    &:hover {
      background-color: #000000;
      // transition: $transition;
      svg {
        line {
          stroke: #fff;
          // transition: $transition;
        }
      }
    }
  }
}
.reviews-slider {
  .slick-prev:after {
    content: "\f053";
    // font-family: $font-awesome;
    height: 32px;
    width: 32px;
    background-size: cover;
    position: absolute;
    right: 54px;
    background: white;
    border-radius: 10px;
    font-size: 23px;
    line-height: 18px;
    padding: 8px;
    color: black;
    top: -71px;
    z-index: 10;
    @media (max-width: 1199px) {
      top: -65px;
    }
    @media (max-width: 992px) {
      right: 50px;
      top: -58px;
    }
    @media (max-width: 767px) {
      top: -52px;
    }
    @media (max-width: 575px) {
      top: -48px;
    }
  }
  .slick-next:after {
    content: "\f054";
    // font-family: $font-awesome;
    height: 32px;
    width: 32px;
    background-size: cover;
    position: absolute;
    right: 0px;
    background: white;
    border-radius: 10px;
    font-size: 23px;
    line-height: 18px;
    padding: 8px;
    color: black;
    top: -71px;
    z-index: 10;
    @media (max-width: 1199px) {
      top: -65px;
    }
    @media (max-width: 992px) {
      top: -58px;
    }
    @media (max-width: 767px) {
      top: -52px;
    }
    @media (max-width: 575px) {
      top: -48px;
    }
  }
}

/*-------------------------
    Typography
-------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  // font-family: $font-primary;
  // color: $gray-1;
  // background: $black-1;
  font-weight: 400;
  font-size: clamp(14px, 0.833vw, 22px);
  line-height: 150%;
  letter-spacing: 0.02em;
  height: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  @media (max-width: 1199px) {
    font-size: clamp(14px, 1.563vw, 18px);
  }
  @media (max-width: 991px) {
    font-size: clamp(13.5px, 1.778vw, 16px);
  }
  @media (max-width: 767px) {
    font-size: clamp(13px, 2.286vw, 14px);
  }
  @media (max-width: 575px) {
    font-size: clamp(11px, 3.59vw, 14px);
  }

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    // background: $accent-1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
address,
p,
pre,
blockquote,
table,
hr {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    color: inherit;
  }
}

h1 {
  font-weight: 700;
  font-size: clamp(43px, 2.135vw, 80px);
  line-height: 120%;
  letter-spacing: -0.02em;
  @media (max-width: 1199px) {
    font-size: clamp(35px, 4.837vw, 50px);
  }
  @media (max-width: 991px) {
    font-size: clamp(30px, 5.556vw, 40px);
  }
  @media (max-width: 767px) {
    font-size: clamp(28px, 6.462vw, 35px);
  }
  @media (max-width: 575px) {
    font-size: clamp(24px, 9vw, 32px);
  }
}
h2 {
  font-weight: 700;
  font-size: clamp(34px, 2.446vw, 60px);
  line-height: 125%;
  letter-spacing: -0.01em;
  @media (max-width: 1199px) {
    font-size: clamp(32px, 4.199vw, 40px);
  }
  @media (max-width: 991px) {
    font-size: clamp(27px, 4.471vw, 35px);
  }
  @media (max-width: 767px) {
    font-size: clamp(24px, 5.231vw, 30px);
  }
  @media (max-width: 575px) {
    font-size: clamp(21px, 6.75vw, 28px);
  }
}
h3 {
  font-weight: 700;
  font-size: clamp(28px, 1.875vw, 46px);
  line-height: 120%;
  letter-spacing: -0.01em;
  @media (max-width: 1199px) {
    font-size: clamp(27px, 3.225vw, 36px);
  }
  @media (max-width: 991px) {
    font-size: clamp(24px, 3.493vw, 28px);
  }
  @media (max-width: 767px) {
    font-size: clamp(22px, 4.23vw, 24px);
  }
  @media (max-width: 575px) {
    font-size: clamp(20px, 6.575vw, 22px);
  }
}
h4 {
  font-weight: 500;
  font-size: clamp(20px, 1.406vw, 32px);
  line-height: 120%;
  letter-spacing: -0.01em;
  @media (max-width: 1199px) {
    font-size: clamp(22px, 2.539vw, 24px);
  }
  @media (max-width: 991px) {
    font-size: clamp(20px, 2.738vw, 22px);
  }
  @media (max-width: 767px) {
    font-size: clamp(19px, 3.438vw, 23px);
  }
  @media (max-width: 575px) {
    font-size: clamp(16px, 5.25vw, 18px);
  }
}
h5 {
  font-weight: 700;
  font-size: clamp(16px, 1.094vw, 24px);
  line-height: 130%;
  @media (max-width: 1199px) {
    font-size: clamp(15.5px, 2.051vw, 17px);
  }
  @media (max-width: 991px) {
    font-size: clamp(15px, 2.381vw, 16px);
  }
  @media (max-width: 767px) {
    font-size: clamp(14.5px, 2.969vw, 16px);
    letter-spacing: 0.2px;
  }
  @media (max-width: 575px) {
    font-size: clamp(14px, 4.325vw, 15px);
  }
}
h6 {
  font-weight: 600;
  font-size: clamp(13px, 0.833vw, 22px);
  line-height: 150%;
  letter-spacing: 0.02em;
  @media (max-width: 1199px) {
    font-size: clamp(14px, 1.563vw, 18px);
  }
  @media (max-width: 991px) {
    font-size: clamp(13.5px, 1.778vw, 16px);
  }
  @media (max-width: 767px) {
    font-size: clamp(13px, 2.286vw, 14px);
  }
  @media (max-width: 575px) {
    font-size: clamp(11px, 3.59vw, 14px);
  }
}

p {
  // font-family: $font-sec;
  // color: $gray-1;
  font-size: clamp(14px, 0.833vw, 22px);
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
  @media (max-width: 1199px) {
    font-size: clamp(14px, 1.563vw, 18px);
  }
  @media (max-width: 991px) {
    font-size: clamp(13.5px, 1.778vw, 16px);
  }
  @media (max-width: 767px) {
    font-size: clamp(13px, 2.286vw, 14px);
  }
  @media (max-width: 575px) {
    font-size: clamp(11px, 3.59vw, 14px);
  }
}

a {
  display: inline-block;
  text-decoration: none;
  color: unset;
  // transition: $transition;
  &:hover {
    // color: $accent-1;
    // transition: $transition;
  }
}

span {
  display: inline-block;
}

b,
strong {
  // font-family: $font-primary;
}

.card {
  background: transparent;
  border: none;
  padding: 0;

  .card-header {
    background: transparent;
    border: none;
    padding: 0;

    .nav-tabs {
      text-align: center;
      width: 90%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: disc;

      // justify-content: space-between;
      @media (max-width: 1440px) {
        width: 100%;
      }

      li {
        padding: 0 48px 0 0;
        margin: 0;

        a {
          padding: 0;
          // color: $gray-1;
          font-weight: 600;
          font-size: clamp(16px, 1.094vw, 24px);
          line-height: 130%;
          @media (max-width: 1199px) {
            font-size: clamp(15.5px, 2.051vw, 17px);
          }
          @media (max-width: 991px) {
            font-size: clamp(15px, 2.381vw, 16px);
          }
          @media (max-width: 767px) {
            font-size: clamp(14.5px, 2.969vw, 16px);
            letter-spacing: 0.2px;
          }
          @media (max-width: 575px) {
            font-size: clamp(14px, 4.325vw, 15px);
          }

          &.active {
            // color: $accent-1;
          }

          &:hover {
            // color: $accent-1;
          }
        }
      }
    }
  }
  .card-body {
    padding: 0;
    margin: 0;
  }
}
.navbar-brand img {
  width: 85%;
  @media (max-width: 991px) {
    width: 100%;
  }
}
.evento-etiqueta {
  background-image: linear-gradient(
    to bottom right,
    rgb(255 161 100 / 97%),
    rgb(208 101 32)
  );
  padding: 7px;
  filter: alpha(opacity = 75);
  color: #1b1b1b;
  margin-right: 12px;
  border-radius: 20px 0 20px 0;
}
header {
  width: 100%;
  height: 72px;
  background-color: #002a49;
}
header nav .navbar-nav .menu-item-has-children {
  position: relative;
  margin-right: 48px;
}
.navbar {
}
header nav .navbar-nav .menu-item-has-children a {
  color: #f8f8ff;
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar-expand-xl .navbar-nav {
  flex-direction: row;
  padding-top: 13px;
  padding: 7px 10px;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.hero-banner-slider-data .block-1,
.hero-banner-slider-data .block-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-banner-slider-data .item {
  padding-bottom: 110px;
  height: calc(88vh - 390px);
  padding-bottom: 30px;
  display: grid;
  align-items: end;
}
.bg-orange {
  background-color: #ffc325;
  border-radius: 30px;
  padding: 2px 16px;
  font-size: 14px;
  font-weight: 700;
}

.btn-inscribete {
  padding: 10px 24px;
  font-size: 18px;
  letter-spacing: 2px;
}

#busqueda-producto {
  border: transparent 1px solid !important;
  padding: 4px;
  width: 100%;
}
#busqueda-producto:focus {
  border: transparent 1px solid !important;
  outline: none;
  padding: 4px;
}

input:focus {
  border: transparent 1px solid !important;
}

// sección quieres ser asociado
.inscribete {
  position: relative;
  background-color: #1c5b91;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 400px;
  color: white;
  padding: 120px 0;
}
.inscribete-header {
  position: absolute;
  display: flex;
  top: 0px;
  background-color: #002a49;
  padding: 22px 54px;
  width: 61%;
  border-radius: 89px;
  box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3);
  transform: translate(35%, -48%);
}
.inscribete-header p {
  font-size: clamp(23px, 0.833vw, 35px);
  color: white;
  font-weight: 400;
  padding-top: 12px;
}

.color-yellow {
  color: #ffc325;
}
.weight-700 {
  font-weight: 700;
}

#resultados-productos {
  margin-top: 20px;
  max-height: 270px;
  overflow-y: auto;
  padding: 10px;
  background: #fff;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  position: absolute;
  z-index: 9999;
  width: 410px;
  top: 35px;
  left: 240.62px;
  height: auto;
}

.resultados-productos-hidden {
  display: none;
}
.resultados-productos-visible {
  display: flex;
}

.resultado-item {
  padding: 8px;
  border-bottom: 1px solid #eee;
  text-align: left;
}
.resultado-item:hover {
  background-color: #cdcdcd3b;
}
.resultado-item a {
  color: #212529;
  text-decoration: none;
  font-size: 12px;
}
.resultado-item a:hover {
  text-decoration: none;
}
.input-group-text {
  padding: 0.165rem 0.75rem !important;
}

.navbar__search-input-container:focus {
}
