<section class="hero-banner-slider-data">
  <ngx-slick-carousel class="carousel" [config]="slideConfig">
    <div
      ngxSlickItem
      class="item block-1"
      style="
        background: url(&#39;assets/images/bg-header_11zon.webp&#39;) center
          center / cover no-repeat;
      "
    >
      <div class="container-fluid">
        <div class="content">
          <div class="row align-items-end">
            <div class="col-lg-6 col-md-7 col-sm-9 mb-lg-0">
              <div class="btn-banner ml-sm-12">
                <a href="#" class="cus-btn filled"
                  ><i class="fal fa-info-circle"></i> Más Información</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      ngxSlickItem
      class="item block-2"
      style="
        background: url(&#39;assets/images/bg-capacitaciones_11zon.webp&#39;)
          center center / cover no-repeat;
      "
    >
      <div class="container-fluid">
        <div class="content">
          <div class="row align-items-end">
            <div class="col-lg-6 col-md-7 col-sm-9 mb-lg-0">
              <div class="btn-banner ml-sm-12">
                <a href="#" class="cus-btn filled"
                  ><i class="fal fa-info-circle"></i> Más Información</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</section>
